<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-6 col-lg-offset-3 centered">
        <h3>CONTACT ME</h3>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2">
        <form role="form" ng-submit="form.$valid && contact.sendMsg()">
          <div class="form-group">
            <input type="name" required class="form-control" id="NameInputEmail1" placeholder="Your Name" ng-model="name">
            <br>
          </div>
          <div class="form-group">
            <input type="email" required class="form-control" id="exampleInputEmail1" placeholder="Your email" ng-model="email">
            <br>
          </div>
          <div class="form-group">
            <input type="name" required class="form-control" id="subjectEmail1" placeholder="Subject" ng-model="subject">
            <br>
          </div>
          <textarea required class="form-control" rows="6" placeholder="Enter your text here" ng-model="text"></textarea>
          <br>
          <button type="submit" class="btn btn-success" value="Save">SUBMIT</button>
        </form>
      </div>
    </div>
    <!-- /row -->
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /ww -->
